<div class="row">
  <aside class="col-md-4">
    <%= render 'sidebar_user' %>
    <div class="btn-group-vertical" role="group">
      <%= link_to "Following Users", followings_user_path(@user),
        class: "btn btn-link btn-lg"%>
      <%= link_to "Followed Users", followers_user_path(@user),
        class: "btn btn-link btn-lg"%>
      <button type="button" class="btn btn-info btn-lg active">
        Favorite Posts
      </button>
    </div>
  </aside>
  <% if logged_in? %>
    <div class="col-md-8">
      <h3>Favorite Microposts (<%= @microposts.count %>)</h3>
      <% if @microposts.any? %>
        <% #ページネーション開始 %>
        <%= page_entries_info @microposts %>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= paginate @microposts %>
        <% #ページネーション終了 %>
      <% end %>
    </div>
  <% end %>
</div>
