<div class="row">
  <aside class="col-md-4">
    <%= render 'sidebar_user' %>
    <div class="btn-group-vertical" role="group">
      <%= link_to "Following Users", followings_user_path(@user),
        class: "btn btn-link btn-lg"%>
      <%= link_to "Followed Users", followers_user_path(@user),
        class: "btn btn-link btn-lg"%>
      <%= link_to "Favorite Posts", favoriteposts_user_path(@user),
        class: "btn btn-link btn-lg"%>
    </div>
    <% #テスト用機能 %>
    <% if @user == current_user %>
      <div>
        <p></p><p></p><p></p>
        <%= link_to "All Users", users_path,
          class: "btn btn-link btn-lg"%>
      </div>
    <% end %>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <% #ページネーション開始 %>
      <%= page_entries_info @microposts %>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= paginate @microposts %>
      <% #ページネーション終了 %>
    <% end %>
  </div>
</div>
