<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t('static_pages.post_body') %>
    <%= f.file_field :postimage %>
  </div>
  <%= f.submit t('static_pages.post'), class: "btn btn-primary" %>
<% end %>
